DATABASE_URL="postgresql://postgres:Murilo2006$@localhost:5432/PriceWatch?schema=public"
PORT=3333
JWT_SECRET="troque_por_uma_chave_segura"
MERCADO_LIVRE_API_URL="https://api.mercadolibre.com"
MERCADO_LIVRE_CLIENT_ID="seu_app_id"
MERCADO_LIVRE_CLIENT_SECRET="sua_secret_key"
MERCADO_LIVRE_REDIRECT_URI="http://localhost:3333/auth/callback"
MERCADO_LIVRE_ACCESS_TOKEN=""
MERCADO_LIVRE_REFRESH_TOKEN=""
